.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .list-group-item {
    font-size: 1.2em;
    margin: 5px 0;
  }
  