<div class="container">
    <h2>Sobre Mí</h2>
    <p>Soy una persona altamente motivada y comprometida con el desarrollo personal y profesional. Aunque no cuento con experiencia laboral previa, tengo una gran disposición para el esfuerzo y la superación constante. Mi enfoque se centra en la adaptabilidad y el aprendizaje continuo, cualidades que considero fundamentales para afrontar con éxito los desafíos del mercado laboral actual. Estoy preparado para integrarme a un equipo de trabajo y contribuir con una actitud positiva y proactiva siempre con el objetivo de crecer junto a la empresa.</p>
  </div>
  